{% extends 'layouts/base.html.twig' %}

{% block title %}{% endblock %}

    {% block body %}
    <div class="container mt-4">
        <div class="intro">
            <h1 class="mt-5  text-center">ÉDITER LES LEÇONS</h1>
        </div>

    {{ include('admin/cours/_form.html.twig', { button: 'Editer'})}}

    </div>

{% endblock %}




