{% extends 'layouts/base.html.twig' %}



    {% block body %}
        <div class="container mt-5">
            <div class="intro ">
                <h1 class="my-5 py-5  text-center">CRÉER UNE NOUVELLE LEÇONS</h1>
            </div>

            {{ include('admin/cours/_form.html.twig', {button: 'Ajouter'})}}

        </div>

    {% endblock %}

