{% extends 'layouts/base.html.twig' %}
{% block title 'About' %}
{% block body %}



    <div class="jumbotron text-center ">
        <div class="intro">
            {#            <img id="logoJa" src="{{ asset('build/images/logoJA.393c0749.png') }}" alt="">#}
            <h3 class="">ABOUT</h3>

        </div>

</div>
{% endblock %}