{% extends 'layouts/base.html.twig' %}
{% block title 'Guy Nwogang' %}
{% block body %}

    <header class="showcase">
        <div class="container showcase-inner">
           <a href="#"><img id="sign" src="{{ asset('build/images/thumbnail_SIGNATURE.08e41aac.png') }}" alt=""></a>
        </div>
    </header>

{% endblock %}


