{% extends 'layouts/base.html.twig' %}
{% block title 'Guy Nwogang' %}
{% block body %}

        <section class="landing">

            <img src="{{ asset('build/images/thumbnail_SIGNATURE.08e41aac.png') }}" id="sign" alt="">

        </section>


    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}

    {% endblock %}

{% endblock %}






