{% extends 'layouts/base.html.twig' %}

{% block title cours.title %}


{% block body %}


{#    {% for message in app.flashes('success') %}#}
{#    <div class="flash-notice">#}
{#        {{ message }}#}
{#    </div>#}
{#    {% endfor %}#}

{#    {% if not form.vars.valid %}#}
{#    <div class="alert-danger">#}
{#        Erreur, les champs n'ont pas été correctement remplis !#}
{#    </div>#}
{#    {% endif %}#}

    <div class="titre-show">
        <h2 class="text-center">
            {{ cours.description  | nl2br}}
        </h2>
    </div>

    <div class="container ">

<div class="">
                <iframe width="760" height="515" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLnG60NkuHghvEfQS0JjsiheMYvcbw_may" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


            <div class="col">
                {% for video in cours.videos %}
                <ul class="list-group list-group-numbered">
                    <li class=""><a class="text-decoration-none text-muted" href="{{ video.videoLink }}">{{ video.videoTitle }}</a></li>
                </ul>
                {% endfor %}
            </div>


    </div>





{% endblock %}