@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Permanent+Marker&family=Righteous&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
body{

}

main {

 /*font-weight: bolder;*/
}



.landing{
 min-height: 100vh;
 background: url("../images/GN_thumbnail.jpg");
 background-size: cover;
 /*padding: 0 5rem;*/

}

nav {
 position: absolute;
 width: 100%;
 display: flex;
 padding: 1rem 10rem;
 justify-content: space-between;
 align-items: center;

}
.logo a{
 font-family: 'Righteous', cursive;
 color: gray;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-size: 20px;
}

.nav-links {
 display: flex;
 justify-content: space-around;
 width: 30%;

}

.nav-links li {
 display: flex;
 list-style: none;
}

.nav-links  a {
 color: gray;
 text-decoration: none;
 letter-spacing: 3px;
 font-weight: bold;

}




/*.logo {*/
/* font-family: 'Righteous', cursive;*/
/* color: white;*/
/* text-transform: uppercase;*/
/* letter-spacing: 5px;*/
/* font-weight: 900;*/
/* !*font-size: 15px !important;*!*/
/* margin-right: 45%;*/

/*}*/

/*.logo a {*/
/* text-decoration: none!important;*/
/* color: white!important;*/
/*}*/



/*.nav-links {*/
/* display: flex;*/
/* justify-content: space-around;*/
/* width: 30%;*/

/*}*/

/*.nav-links a {*/
/* font-family: 'Righteous', cursive;*/
/* color: white;*/
/* text-decoration: none;*/
/* letter-spacing: 3px;*/
/* font-weight: bold;*/
/* font-size: 20px;*/
/*}*/

/*.nav-links li {*/
/* list-style: none;*/
/*}*/

/*.burger {*/
/* display: none;*/
/* cursor: pointer;*/
/*}*/

/*.burger div {*/
/* width: 25px;*/
/* height: 3px;*/
/* background: linear-gradient(to top, #eae3c8, #c2cab4, #a0b1a3, #849691, #6e7c7c);*/
/* margin: 5px;*/
/* transition: all 0.3s ease;*/

/*}*/

#bouton {
 position: absolute;
 top: 65%;
 left: 78%;
}

#bouton .btn {
 -ms-flex: 10rem;
 flex-basis: 10rem;
 font-size: 1.2rem;
 padding: 0 1.3rem;
 margin: 0 0.2rem;
 text-transform: uppercase;
}

/*a, a:link, a:visited {*/
/* cursor: pointer;*/
/* font-weight: bolder;*/
/* -webkit-transition: all 0.3s;*/
/* transition: all 0.3s;*/
/*}*/

.btn {
 border: solid 1px black;

}

.about {
 min-height: 100vh;
 background-color: #f4f9f9;
 /*background-image: linear-gradient(to top, #eae3c8, #c2cab4, #a0b1a3, #849691, #6e7c7c);*/
}


.at-container {
 display: flex;
 text-align: center;
 justify-content: center;

}

/* ABOUT - Vidéo*/
.abt-container {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 5%;


}


.jumbotron-img {
 background: rgb(237,116,88);
 background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
 color: #fff;
}

/*.q-container {*/
/* border-top-right-radius: .25rem;*/
/* border-top-left-radius: .25rem;*/
/* background-color: #efefee;*/
/*}*/

.q-container-show {
 border-top-right-radius: .25rem;
 border-top-left-radius: .25rem;
 background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
 border: 2px solid #fff;
 border-radius: 50%;
}

/* espace d'écriture blanc */
.q-display {
 background: #fff;
 border-radius: .25rem;
}

/* Titre à l'intérieur du container */
.q-title-show {
 text-transform: uppercase;
 font-size: 1.3rem;
 color: #fff;
}


.btn-question .badge {
 color: #ED7458;
 background-color: #FFFFFF;
}

/* ACCUEIL */

.text-primary {
 font-size: 1.5rem;
 font-weight: bold;
}

/* ADMIN */

/* delete */

/* LOGIN*/

.error {
 color: red;
}

/* COURS show.twig */

.co-container {
 width: 80%;
 margin: 80px auto;
}

.co-container .ro{
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

.co-container .co {
 flex-basis: 50%;
 min-width: 250px;
}

.feature-img{
 width: 83%;
 margin: auto;
 position: relative;
 border-radius: 6px;
 overflow: hidden;
}

.small-img-row{
 display: flex;
 background: #6e7c7c;
 margin: 20px 0;
 align-items: center;
 border-radius: 6px;
 overflow: hidden;
 width: 88%;
}

.small-img {
 position: relative;
}

.small-img img{
 width: 150px;
}

.small-img-row p {
 margin-left: 20px;
 color: #c2cab4;
 line-height: 22px;
 font-size: 15px;
}

.play-btn {
 width: 10%;
 position: absolute;
 left: 50%;
 right: 50%;
 transform: translate(-50%, -420%);
 cursor: pointer;
}

.play-btn2 {
 width: 5%;
 position: absolute;
 left: 50%;
 right: 50%;
 transform: translate(-50%, 60%);
 cursor: pointer;
}

.small-img .play-btn2 {
 width: 30%;
}

.video-player {
 width: 80%;
 position: absolute;
 left: 53%;
 right: 50%;
 transform: translate(-50%, -80%);
 /*cursor: pointer;*/
 display: none;
}

.close-btn {
 position: absolute;
 top: 10px;
 right: 11%;
 width: 30px;
 cursor: pointer;
}



footer {
 background-color: #efefee;
}
@media screen and (max-width: 1024px){
 .nav-links {
 color: black;
  width: 60%;
 }

}

/*@media screen and (max-width: 760px){*/
/* body {*/
/*  overflow-x: hidden;*/
/* }*/
/* .nav-links {*/
/*  position: absolute;*/
/*  right: 0;*/
/*  height: 92vh;*/
/*  top: 8vh;*/
/*  background-color: #0a043c;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: 50%;*/
/*  transform: translateX(100%);*/
/*  transition: transform 0.5s ease-in;*/
/* }*/
/* .nav-links li {*/
/*  !*opacity: 0;*!*/
/* }*/

/* .burger {*/
/*  display: block;*/
/* }*/

/*}*/

/*.nav-active {*/
/* transform: translateX(0%);*/
/*}*/

/*@keyframes navLinkFade {*/
/* from{*/
/*  opacity: 0;*/
/*  transform: translateX(50px);*/
/* }*/
/* to {*/
/*  opacity: 1;*/
/*  transform: translateX(0px);*/
/* }*/
/*}*/

/*.toggle .line1{*/
/* transform: rotate(-45deg) translate(-5px,6px);*/

/*}*/
/*.toggle .line2{*/
/* opacity: 0;*/
/*}*/
/*.toggle .line3{*/
/* transform: rotate(45deg) translate(-5px,-6px);*/
/*}*/


/* VIDEO EN LARGE */
/*.a-video {*/
/*!* position: absolute;*!*/
/*!* top: 100%;*!*/
/*!* left: 0;*!*/
/*!* bottom: 0;*!*/
/*!* right: 0;*!*/
/*!* width: 100%;*!*/
/*!* height: 100%;*!*/
/*!* transition: opacity .5s;*!*/
/*}*/