
<div class="footer">
    <h5 class="logo-text"><span>Guy</span>NWOGANG</h5>
            <div class="social">
                <a href="https://fr-fr.facebook.com/nwogang"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/Nwogang/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCcHQ9niF-7qKGO3tl1Y0ioA"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/Nwogang1"><i class="fab fa-twitter"></i></a>
            </div>

    <div class="footer-bottom">
        &copy; ValdeSign | by Valérie Ekoume
    </div>
</div>


