
<div class="footer p-3">

    <h6 class="logo-text mx-4"><span>&copy;2021 Guy</span>NWOGANG</h6>
{#            <div class="social">#}
{#                <a href="https://fr-fr.facebook.com/nwogang"><i class="fab fa-facebook"></i></a>#}
{#                <a href="https://www.instagram.com/Nwogang/"><i class="fab fa-instagram"></i></a>#}
{#                <a href="https://www.youtube.com/channel/UCcHQ9niF-7qKGO3tl1Y0ioA"><i class="fab fa-youtube"></i></a>#}
{#                <a href="https://twitter.com/Nwogang1"><i class="fab fa-twitter"></i></a>#}
{#            </div>#}

        <span>built by ValdeSign</span>

</div>


