

.about {
  min-height: 100vh;
  text-align: right;
  color: black;
  position: relative;
  margin-top: 3%;
}

.imgabo {
  width: 50%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 0;
}

.content {
  padding: 3em 5em;
  z-index: 1;
  position: relative;
  color: #4B4453 ;
  margin-left: 50%;
  text-align: justify;

  h2 {
    font-size: 5em;
    margin-bottom: 5%;
    font-family: 'Abril Fatface', cursive;
    text-align: center;

  }
  h3 {
    font-size: 1.6em;
    font-weight: bolder;

  }

  p{
    font-size: 1.3em;
    margin-top: 2%;

  span{
    font-weight: bolder;
    z-index: 1!important;
  }

  a {
    text-decoration: none;
    color: #4B4453;
  }
    a:hover {
      color: #bbbbbb;
    }

  }
}


.tour h2 h3 h5 p a{
  color: #FFFFFF;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.gallery2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 10px;

  img {
    width: 100%;
  }
}

.gears h3 {
  color: #4B4453;
  margin-top: 5%;
}

