
.footer {
  //position: sticky;
  //left: 0;
  //bottom: 0;
  //width: 100%;
  padding: 2.5em;
  background-color: #bbbbbb;
  color: #4B4453;
  text-align: center;
  margin-top: auto;
  font-size: 12px;

  h6{
    font-size: 12px;
  }
}
