
.video iframe {
  margin-left: 20%;
}

.show-content   {

  margin-left: 10%;

  .partition a{
    position: absolute;
    top: 65%;
    left: 35%;
  }


  .mp3 a{
    position: absolute;
    top: 65%;
    left: 50%;
  }

}
