
.video iframe {
  margin-left: 20%;
}

.show-content   {

  margin-left: 10%;


}
.show-content .partition a{
  position: absolute;
  top: 65%;
  left: 35%;
}


.show-content .mp3 a{
  position: absolute;
  top: 65%;
  left: 50%;
}