.tour {
  min-height: 80vh;
  position: relative;
  margin-top: 2%;
  background-color: #eeeeee;
  padding-bottom: 20px;
}

.content_tour {
  padding: 5em 5em;
  z-index: 1;


  h2 {
    font-size: 5em;
    margin-bottom: 0;
    color: #4B4453;
    font-family: 'Abril Fatface', cursive;

  }

  h3{
    font-size: 1.6em;
    right: 1%;
    color: #4B4453;
    padding-top: 1em;
  }

}
