@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
    /*background-color: lightgray;*/
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}



.landing{
    min-height: 100vh;
    background: url("../images/GN_thumbnail.jpg");
    background-size: cover;

}

.landing .btn {
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    padding: 6px 26px;
    font-size: 16px;

}

#logoJa {
    margin-top: 10px;
    width: 4%;
}

#sign {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 15%;

}



//#bouton {
//    position: absolute;
//    top: 65%;
//    left: 78%;
//}
//
//#bouton .btn {
//    -ms-flex: 10rem;
//    flex-basis: 10rem;
//    font-size: 1.2rem;
//    padding: 0 1.3rem;
//    margin: 0 0.2rem;
//    text-transform: uppercase;
//}

/*a, a:link, a:visited {*/
/* cursor: pointer;*/
/* font-weight: bolder;*/
/* -webkit-transition: all 0.3s;*/
/* transition: all 0.3s;*/
/*}*/



//.about {
//    min-height: 100vh;
//    background-color: #f4f9f9;
//    /*background-image: linear-gradient(to top, #eae3c8, #c2cab4, #a0b1a3, #849691, #6e7c7c);*/
//}

//
//.at-container {
//    display: flex;
//    text-align: center;
//    justify-content: center;
//
//}

/* ABOUT - Vidéo*/
//.abt-container {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    margin-top: 5%;
//
//
//}

/* ACCUEIL.HTML.TWIG */

.jumbotron {
    background: url("../images/GN_thumbnail.jpg");
    height: 35vh;
    background-size: cover;
    color: #fff;
    border-radius: 0 !important;
}

.jumbotron h3 {
    margin-top: 10%;
    margin-left: 20%;
}

.intro h3 {
    color: black;
    font-weight: bolder;
}

.jumbotron img {
    margin-top: 10%;
    margin-left: 30%;
}



.navbar-nav a {
    color: #4B4453 !important;
    font-weight: 600;
    font-size: 20px;
    margin-left: 50px!important;
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
}

.navbar-toggler {
    color: black !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler .fa {
    color: black;
    font-size: 50px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #4B4453;
    margin-bottom: -1px;
}

//.nav-ac-l {
//    width: 30%;
//    height: 300px; /* only for demonstration, should be removed */
//    padding: 20px;
//}
.text-accueil h2{
    font-weight: 600;
    font-size: 60px;
}

.section-s1 {
    height: 20vh;
    margin: 20px 50px;
    padding: 10px 100px;
    //border: 1px solid black;
}

.section-s2 h2 {
    margin-bottom: 5%;
}

.nav-ac h5 {
    color: #1b1717!important;
    font-weight: 600!important;
}

.nav-ac button:hover {
    color: #AAAAAA;
    background-color: #1b1717;
}

#tsCours {
    //border: 1px solid #1b1717;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #FCF7FF;
    color: #1b1717;
    font-weight: 600;
    cursor: pointer;
}

.nav-ac ul {
    padding: 0;

}

.nav-ac li {
    list-style-type: none;
    padding: 0;
}

.nav-ac a{
    text-decoration: none;
    color: #1b1717;
    font-weight: 400;
}

.nav-ac a:hover{

    color: #B0A8B9;

}

.d-flex {

}

section::after {
    content: "";
    display: table;
    clear: both;
}


@media (min-width: 768px) {

    .main-accueil {
        display: flex;
    }
}




.vich-image  {
    .form-check {
        @extend .mt-3;
    }
    img {
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow;
        @extend .img-thumbnail;
    }
}

.cours img {
    width: 50%;
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}


.error {
    color: red;
}

                                    /* ------ COURS ------ */

/* SHOW */

.co-container {
    width: 80%;
    margin: 80px auto;
}

.co-container .ro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.co-container .co {
    flex-basis: 50%;
    min-width: 250px;
}

.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row{
    display: flex;
    //background: #6e7c7c;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 88%;
}

.small-img {
    position: relative;
}

.small-img img{
    width: 150px;
}

.small-img-row p {
    margin-left: 20px;
    color: #c2cab4;
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 10%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -420%);
    cursor: pointer;
}

.play-btn2 {
    width: 5%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 60%);
    cursor: pointer;
}

.small-img .play-btn2 {
    width: 30%;
}

.video-player {
    width: 80%;
    position: absolute;
    left: 53%;
    right: 50%;
    transform: translate(-50%, -80%);

    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 11%;
    width: 30px;
    cursor: pointer;
}




                                        /* ------ ADMIN ------ */

/* DELETE */

/* LOGIN*/



footer {
    background-color: #efefee;
}
@media screen and (max-width: 1024px){
    .nav-links {
        color: black;
        width: 60%;
    }

}




        /* ----- VIDEO EN LARGE ABOUT -----*/
//.a-video {
//    position: absolute;
// top: 100%;
//left: 0;
//bottom: 0;
// right: 0;
// width: 100%;
// height: 100%;
// transition: opacity .5s;
//}