@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

//@import '~@videojs/themes/dist/fantasy/index.css';

@import "menu";

:root {
    --primary-color: rgba(13, 110, 139, 0.45);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

body::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    //background-color: var(--primary-color);
    color: #FFFFFF;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url("../images/IMG_8813ok.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    #sign {
        width: 33%;
        position: absolute;
        top: 25%;
        left: 0;
    }
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    opacity: 0.7;

}


.landing{
    background: url("../images/GN_thumbnail.jpg");
    background-size: cover;
    height: 100vh;



    #btn-ja {
        position: absolute;
        top: 56%;
        left: 78%;
        text-decoration: none;
        color: #4B4453;
        font-family:'Abril Fatface', cursive;
        font-size: 2.5rem;
        border: 2px solid #4B4453;
        border-radius: 5px;


    }
}

.about {
    min-height: 100vh;
    text-align: left;
    color: black;
    position: relative;
}

.imgabo {
    width: 50%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: 0;
}

.content {
    padding: 9em 5em;
    z-index: 1;
    position: relative;
    color: #4B4453 ;

    h2 {
        font-size: 5em;
        margin-bottom: 0;
        font-family: 'Abril Fatface', cursive;

    }

    p{
        font-size: 1.6em;

    }
}

.gears {
    min-height: 100vh;
    text-align: right;
    background-color: #eeeeee;
    color: white;
    position: relative;
}


.content_gears {
    padding: 9em 5em;
    z-index: 1;
    font-family: 'Abril Fatface', cursive;

    h2 {
        font-size: 5em;
        margin-bottom: 0;
        color: #4B4453;
        font-family: 'Abril Fatface', cursive;

    }

    p{
        font-size: 1.6em;
        right: 1%;
        color: #4B4453;
    }
}

.img_gears{
    width: 30%;

}

.img_gears2{
    width: 30%;
    object-fit: cover;

}

.img_gears3{
    width: 30%;
    object-fit: cover;

}


/* ACCUEIL.HTML.TWIG */

.jumbotron {
    background: url("../images/GN_thumbnail.jpg");
    height: 35vh;
    background-size: cover;
    color: #fff;
    border-radius: 0 !important;

}

.jumbotron h1 {
    margin-top: 8%;
    margin-left: 60%;
    font-family: 'Abril Fatface', cursive;
    color: #4B4453;
    font-size: 3em;
    margin-bottom: 0;
}

.jumbotron h3 {
    margin-top: 8%;
    margin-left: 60%;
    font-family: 'Abril Fatface', cursive;
    color: #4B4453;
    font-size: 1.5em;
    margin-bottom: 0;
}

.jumbotron-2 {
    background: url("../images/GN_thumbnail.jpg");
    height: 28vh;
    background-size: cover;
    color: #fff;
    border-radius: 0 !important;

    h3{
        position: absolute;
        top: 20%;
        left: 45%;
        font-family: 'Abril Fatface', cursive;
        color: #4B4453;
        font-size: 2.2em;
        margin-bottom: 0;
    }

}

.jumbotron img {
    margin-top: 10%;
    margin-left: 30%;
}

.text-accueil h2{
    padding: 20px 30px;
    font-size: 2em;
    font-family: 'Abril Fatface', cursive;
    color: #4B4453;
}



.nav-ac h5 {
    color: #1b1717!important;
    font-weight: 600!important;
}

.nav-ac button:hover {
    color: #AAAAAA;
    background-color: #1b1717;
}

#tsCours {
    //border: 1px solid #1b1717;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #FCF7FF;
    color: #1b1717;
    font-weight: 600;
    cursor: pointer;
}

.nav-ac ul {
    padding: 0;

}

.nav-ac li {
    list-style-type: none;
    padding: 0;
}

.nav-ac a{
    text-decoration: none;
    color: #1b1717;
    font-weight: 400;
}

.nav-ac a:hover{

    color: #B0A8B9;

}

.d-flex {

}

.nav-socials {
    position: absolute;
    left: 85%;
    top: 1%;
}

.socials li {
    list-style: none;
}

.socials  a {
    text-decoration: none;
    color: #4B4453;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

/* FOOTER.HTML.TWIG */


.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}

//.footer .social  a {
//    text-decoration: none;
//    color: #FFFFFF;
//    width: 45px;
//    height: 41px;
//    padding-top: 5px;
//    text-align: center;
//    display: inline-block;
//    font-size: 1.3em;
//    transition: all .3s;
//}

//.footer .social  a:hover {
//    color: #4B4453;
//    transition: all .3s;
//}

//.footer .footer-bottom {
//    padding: 10px 20px;
//
//    position: absolute;
//    top: 20%;
//    left: 85%;
//}


@media (min-width: 768px) {

    .main-accueil {
        display: flex;
    }
}




.vich-image  {
    .form-check {
        @extend .mt-3;
    }
    img {
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow;
        @extend .img-thumbnail;
    }
}

.cours img {
    width: 50%;
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}


.error {
    color: red;
}

/* ------ COURS ------ */

/* SHOW */

#my-video{
    //position: absolute;
    //top: 20%;
    // left: 32%;
}

.titre-show {
    margin-top: 5%;
}

//.container  {
//    margin-top: 5%;
//    width: 80%;
//    height: 70%;
//}




.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row{
    display: flex;
    //background: #6e7c7c;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 88%;
}

.small-img {
    position: relative;
}

.small-img img{
    width: 150px;
}

.small-img-row p {
    margin-left: 20px;
    color: #c2cab4;
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 10%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -420%);
    cursor: pointer;
}

.play-btn2 {
    width: 5%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 60%);
    cursor: pointer;
}

.small-img .play-btn2 {
    width: 30%;
}

.video-player {
    width: 80%;
    position: absolute;
    left: 53%;
    right: 50%;
    transform: translate(-50%, -80%);

    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 11%;
    width: 30px;
    cursor: pointer;
}

.video {
    position: absolute;
    top: 20%;
}



/* ------ ADMIN ------ */

/* DELETE */ /* LOGIN*/

.btn:hover {
    background-color: #4B4453;
    color: black;
    transition: all .3s;
}




@media screen and (max-width: 1024px){
    .nav-links {
        color: black;
        width: 60%;
    }

    #sign {
        position: absolute;
        top: 20%;
        left: 4%;
    }

}




/* ----- VIDEO EN LARGE ABOUT -----*/
//.a-video {
//    position: absolute;
// top: 100%;
//left: 0;
//bottom: 0;
// right: 0;
// width: 100%;
// height: 100%;
// transition: opacity .5s;
//}
