{% extends 'layouts/base.html.twig' %}
{% block title 'Guy Nwogang' %}
{% block body %}
    <main>
{#    <img src="url('{{ asset('../images/IMG_8797ok2.jpg') }}')" >#}
    <section class="landing">

{#        <nav>#}

{#                <p class="logo"><a href="{{ path('cours.joueAlors') }}">Joue alors</a></p>#}

{#                <ul class="nav-links">#}
{#                    <li><a href="#">Home</a></li>#}
{#                    <li><a href="#">Tour</a></li>#}
{#                    <li><a href="#">Gear</a></li>#}
{#                    <li><a href="#">Contact</a></li>#}
{#                </ul>#}

{#            <div class="burger">#}
{#                <div class="line1"></div>#}
{#                <div class="line2"></div>#}
{#                <div class="line3"></div>#}

{#            </div>#}
{#        </nav>#}

{#



{#        <h2 class="big-text">Guy NWOGANG</h2>#}
{#        <div id="bouton">#}
{#        <a href="https://guynwogang.bandcamp.com/track/papa-mak" target="_blank" class="btn">listen</a>#}
{#        <a href="https://www.youtube.com/watch?v=uw1BX5X5CqU" target="_blank" class="btn">watch</a>#}
{#        </div>#}
    </section>




    <section class="about">
        <div class="at-container">
{#        <h2 class="">ABOUT</h2>#}
        </div>
        <div class="abt-container">
            <iframe class="a-video" width="800" height="450"
                    src="https://www.youtube.com/embed/zt77JsmEmLg">
            </iframe>
        </div>

    </section>


    </main>

{% endblock %}





