{% extends 'layouts/base.html.twig' %}
{% block title 'Guy Nwogang' %}
{% block body %}




    <div class="landing">

{#        <button class="btn btn-outline-light">#}

{#        </button>#}

        <a href="#"><img id="sign" src="{{ asset('build/images/thumbnail_SIGNATURE.08e41aac.png') }}" alt=""></a>
    </div>





{#    <section class="about">#}
{#        <div class="at-container">#}
{#        <h2 class="">ABOUT</h2>#}
{#        </div>#}
{#        <div class="abt-container">#}
{#            <iframe class="a-video" width="800" height="450"#}
{#                    src="https://www.youtube.com/embed/zt77JsmEmLg">#}
{#            </iframe>#}
{#        </div>#}

{#    </section>#}

{% endblock %}






