{% extends 'layouts/base.html.twig'%}

{% block title 'Joue Alors' %}

{% block body %}




    <div class="jumbotron text-center">
        <h1>Joue-Alors !</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci culpa cupiditate deserunt explicabo
            harum, incidunt inventore ipsam iure labore laboriosam nesciunt numquam provident quae quos soluta totam veniam voluptates?</p>
    </div>



    <div class="container">
        <h2>Les nouveautés</h2>
        <div class="flex-row">
        {% for cours in courses %}

            <div class="col-3">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('cours.show', {id: cours.id, slug: cours.slug}) }}">{{ cours.title }}</a>
                    </h5>
                    <p class="card-tex">{{ cours.genre }} ({{ cours.niveauType }})</p>
                </div>
                </div>
            </div>

        {% endfor %}
        </div>

    </div>


{% endblock %}

